# Table of Contents

#### 01 Importing Libraries and Data

#### 02 Data Cleaning/Wrangling

#### 03 Data Merging

#### 04 Explorations

#### 05 Exports

# 01 Importing Libraries and Data

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os

In [3]:
path = r'/Users/Dena/Murder Data Analysis'

In [4]:
# import the single victim/single offender SHR
df_shr = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'shr_single.pkl'))

In [5]:
# check the output
df_shr.head()

,ID,county,ORI,state,agency,agent_type,source,solved,year,month,...,offender_race,offender_ethnicity,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,file_date,MSA
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,March,...,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,30180.0,"Anchorage, AK"
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,April,...,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,30180.0,"Anchorage, AK"
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,30180.0,"Anchorage, AK"
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,30180.0,"Anchorage, AK"
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,July,...,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,nan,0,0,30180.0,"Anchorage, AK"

In [71]:
# import the clean UCR data
df_ucr = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ucr_clean.pkl'))

In [72]:
df_ucr.describe()

             murders        cleared     cold_cases
count  166225.000000  166225.000000  166225.000000
mean        5.726997       3.768549       2.016508
std        34.102900      21.247094      16.287423
min         1.000000       0.000000       0.000000
25%         1.000000       1.000000       0.000000
50%         1.000000       1.000000       0.000000
75%         3.000000       2.000000       1.000000
max      2245.000000    1388.000000    1036.000000

In [73]:
df_ucr.head()

,ORI,name,year,murders,cleared,state,county,agency,cold_cases,region
0,AK00101,ANCHORAGE,1965,7,6,Alaska,"Anchorage, AK",Anchorage,1,West
1,AK00101,ANCHORAGE,1966,18,16,Alaska,"Anchorage, AK",Anchorage,2,West
2,AK00101,ANCHORAGE,1967,1,1,Alaska,"Anchorage, AK",Anchorage,0,West
3,AK00101,ANCHORAGE,1968,7,5,Alaska,"Anchorage, AK",Anchorage,2,West
4,AK00101,ANCHORAGE,1969,7,4,Alaska,"Anchorage, AK",Anchorage,3,West

In [74]:
df_ucr['year'].value_counts().sort_index()

1965    1815
1966    1818
1967    1934
1968    2001
1969    2051
1970    2151
1971    2474
1972    2555
1973    2965
1974    3141
1975    3302
1976    3377
1977    3508
1978    3565
1979    3668
1980    3743
1981    3634
1982    3547
1983    3339
1984    3346
1985    3358
1986    3432
1987    3350
1988    3096
1989    3270
1990    3415
1991    3356
1992    3305
1993    3264
1994    3134
1995    3085
1996    2804
1997    2830
1998    2744
1999    2735
2000    2812
2001    2878
2002    2836
2003    2857
2004    2925
2005    2882
2006    2999
2007    2995
2008    3120
2009    3180
2010    2990
2011    3178
2012    3102
2013    3092
2014    3068
2015    3250
2016    3278
2017    3318
2018    3215
2019    3138
Name: year, dtype: int64

In [75]:
# import census populations data
df_pop = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Census Populations.csv'))

In [76]:
# check the output
df_pop.head()

,State and Year,Influenza Deaths from the CDC,Sum of Total; Estimate; Total population,State,Year
0,Alabama 2009,952,4633360,Alabama,2009
1,Alabama 2010,942,4712651,Alabama,2010
2,Alabama 2011,951,4747424,Alabama,2011
3,Alabama 2012,942,4777326,Alabama,2012
4,Alabama 2013,1035,4799277,Alabama,2013

In [77]:
# find the sum of all murders
murdertot = df_ucr['murders'].sum()
print (murdertot)

951970

In [78]:
# find the sum of all cold cases
coldtot = df_ucr['cold_cases'].sum()
print (coldtot)

335194

In [79]:
# find the percent of cold cases
coldtot/murdertot

0.35210563358089014

In [80]:
335194/951970

0.35210563358089014

35% of all murders 1965 - 2019 went unsolved.

# 02 Data Cleaning/Wrangling

In [12]:
# change column names
df_pop.columns = ['state_year', 'flu_deaths', 'population', 'state_name', 'year']

In [13]:
# check output
df_pop.head()

     state_year  flu_deaths  population state_name  year
0  Alabama 2009         952     4633360    Alabama  2009
1  Alabama 2010         942     4712651    Alabama  2010
2  Alabama 2011         951     4747424    Alabama  2011
3  Alabama 2012         942     4777326    Alabama  2012
4  Alabama 2013        1035     4799277    Alabama  2013

In [14]:
# delete the flu column
df_pop.drop('flu_deaths', axis = 1, inplace = True)

In [15]:
# check output
df_pop.head()

     state_year  population state_name  year
0  Alabama 2009     4633360    Alabama  2009
1  Alabama 2010     4712651    Alabama  2010
2  Alabama 2011     4747424    Alabama  2011
3  Alabama 2012     4777326    Alabama  2012
4  Alabama 2013     4799277    Alabama  2013

In [16]:
df_pop['state_year'].value_counts(dropna = False).sort_index()

Alabama 2009    1
Alabama 2010    1
Alabama 2011    1
Alabama 2012    1
Alabama 2013    1
               ..
Wyoming 2013    1
Wyoming 2014    1
Wyoming 2015    1
Wyoming 2016    1
Wyoming 2017    1
Name: state_year, Length: 459, dtype: int64

In [17]:
# only keep years 2009 - 2017 in the UCR
df_ucr = df_ucr.loc[(df_ucr['year'] >= '2009')]

In [18]:
# check the output
df_ucr['year'].value_counts(dropna = False).sort_index()

2009    3180
2010    2990
2011    3178
2012    3102
2013    3092
2014    3068
2015    3250
2016    3278
2017    3318
2018    3215
2019    3138
Name: year, dtype: int64

In [19]:
df_ucr = df_ucr.loc[(df_ucr['year'] <= '2017')]

In [20]:
# check the output
df_ucr['year'].value_counts(dropna = False).sort_index()

2009    3180
2010    2990
2011    3178
2012    3102
2013    3092
2014    3068
2015    3250
2016    3278
2017    3318
Name: year, dtype: int64

In [21]:
# combine state with year
df_ucr['state_year'] = df_ucr['state'] + " " + df_ucr['year']

In [22]:
# output
df_ucr.head()

,ORI,name,year,murders,cleared,state,county,agency,cold_cases,region,state_year
44,AK00101,ANCHORAGE,2009,14,12,Alaska,"Anchorage, AK",Anchorage,2,West,Alaska 2009
45,AK00101,ANCHORAGE,2010,13,10,Alaska,"Anchorage, AK",Anchorage,3,West,Alaska 2010
46,AK00101,ANCHORAGE,2011,12,13,Alaska,"Anchorage, AK",Anchorage,0,West,Alaska 2011
47,AK00101,ANCHORAGE,2012,15,12,Alaska,"Anchorage, AK",Anchorage,3,West,Alaska 2012
48,AK00101,ANCHORAGE,2013,14,12,Alaska,"Anchorage, AK",Anchorage,2,West,Alaska 2013

In [23]:
# aggregate the murders by state_year
df_ucr = df_ucr.groupby('state_year')[['murders']].sum()

In [24]:
df_ucr.head()

              murders
state_year
Alabama 2009      320
Alabama 2010      221
Alabama 2011      296
Alabama 2012      336
Alabama 2013      295

In [25]:
# rename shr column
df_shr.rename(columns = {'state': 'state_name'}, 
          inplace = True)

In [26]:
# check output
df_shr.head()

,ID,county,ORI,state_name,agency,agent_type,source,solved,year,month,...,offender_race,offender_ethnicity,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,file_date,MSA
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,March,...,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,30180.0,"Anchorage, AK"
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,April,...,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,30180.0,"Anchorage, AK"
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,30180.0,"Anchorage, AK"
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,30180.0,"Anchorage, AK"
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,July,...,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,nan,0,0,30180.0,"Anchorage, AK"

In [27]:
# create political party flag based on state name column

# red
df_shr.loc[df_shr['state_name'].isin(['Alaska', 'Florida', 'Texas', 'Idaho', 'Montana', 'Wyoming', 'Utah', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Oklahoma', 'Louisiana', 'Arkansas', 'Missouri', 'Iowa', 'Indiana', 'Ohio', 'Kentucky', 'West Virginia', 'Tennessee', 'Mississippi', 'Alabama', 'North Carolina', 'South Carolina']) , 'state_party'] ='Red'

In [28]:
# blue
df_shr.loc[df_shr['state_name'].isin(['Hawaii', 'California', 'Nevada', 'Washington', 'Oregon', 'New Mexico', 'Colorado', 'Illinois', 'Minnesota', 'Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Connecticut', 'Rhode Island', 'New York', 'New Jersey', 'Delaware', 'Maryland', 'Virginia', 'District of Columbia']) , 'state_party'] ='Blue'

In [29]:
# create political party flag based on state name column

# purple
df_shr.loc[df_shr['state_name'].isin(['Pennsylvania', 'Georgia', 'Wisconsin', 'Michigan', 'Arizona']) , 'state_party'] ='Purple'

In [30]:
# check the output
df_shr.head()

,ID,county,ORI,state_name,agency,agent_type,source,solved,year,month,...,offender_ethnicity,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,file_date,MSA,state_party
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,March,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,April,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,30180.0,"Anchorage, AK",Red
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,July,...,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red

In [31]:
df_shr['state_party'].value_counts(dropna = False)

Red       209863
Blue      166547
Purple     65318
Name: state_party, dtype: int64

In [32]:
df_shr['state_name'].value_counts(dropna = False)

California              56320
Texas                   46600
Florida                 27816
New York                24763
Pennsylvania            17846
Michigan                17508
Illinois                16754
Georgia                 16106
North Carolina          15915
Louisiana               14436
Ohio                    14388
Tennessee               12744
Alabama                 12324
Virginia                11781
South Carolina           9798
Missouri                 9783
Maryland                 9605
Arizona                  9104
New Jersey               8841
Indiana                  7870
Oklahoma                 7033
Kentucky                 5824
Arkansas                 5811
Mississippi              5751
Washington               5543
Colorado                 5180
Wisconsin                4754
Nevada                   3838
Massachusetts            3683
Oregon                   3335
New Mexico               3237
Minnesota                3118
Connecticut              3093
District of Columbia     2964
West Virginia            2710
Kansas                   2575
Utah                     1579
Iowa                     1452
Alaska                   1397
Hawaii                   1144
Nebraska                 1122
Idaho                     999
Delaware                  887
Maine                     800
Rhode Island              769
Montana                   601
Wyoming                   575
New Hampshire             558
South Dakota              451
Vermont                   334
North Dakota              309
Name: state_name, dtype: int64

# 03 Data Merging

In [33]:
# merge the UCR murder data onto the population data frame
df_murderpop = df_ucr.merge(df_pop, on = 'state_year', how = 'outer', indicator = True)

In [34]:
# output
df_murderpop.head()

     state_year  murders  population state_name  year _merge
0  Alabama 2009      320     4633360    Alabama  2009   both
1  Alabama 2010      221     4712651    Alabama  2010   both
2  Alabama 2011      296     4747424    Alabama  2011   both
3  Alabama 2012      336     4777326    Alabama  2012   both
4  Alabama 2013      295     4799277    Alabama  2013   both

In [35]:
# shape
df_murderpop.shape

(459, 6)

In [36]:
# display all rows
pd.set_option('display.max_rows', None)

In [37]:
df_murderpop.head(459)

,state_year,murders,population,state_name,year,_merge
0,Alabama 2009,320,4633360,Alabama,2009,both
1,Alabama 2010,221,4712651,Alabama,2010,both
2,Alabama 2011,296,4747424,Alabama,2011,both
3,Alabama 2012,336,4777326,Alabama,2012,both
4,Alabama 2013,295,4799277,Alabama,2013,both
5,Alabama 2014,269,4817678,Alabama,2014,both
6,Alabama 2015,343,4830620,Alabama,2015,both
7,Alabama 2016,396,4841164,Alabama,2016,both
8,Alabama 2017,397,4850771,Alabama,2017,both
9,Alaska 2009,23,683142,Alaska,2009,both
10,Alaska 2010,32,691189,Alaska,2010,both
11,Alaska 2011,30,700703,Alaska,2011,both
12,Alaska 2012,30,711139,Alaska,2012,both
13,Alaska 2013,34,720316,Alaska,2013,both
14,Alaska 2014,41,728300,Alaska,2014,both
15,Alaska 2015,59,733375,Alaska,2015,both
16,Alaska 2016,54,736855,Alaska,2016,both
17,Alaska 2017,62,738565,Alaska,2017,both
18,Arizona 2009,381,6324865,Arizona,2009,both
19,Arizona 2010,407,6246816,Arizona,2010,both
20,Arizona 2011,390,6337373,Arizona,2011,both
21,Arizona 2012,353,6410979,Arizona,2012,both
22,Arizona 2013,353,6479703,Arizona,2013,both
23,Arizona 2014,309,6561516,Arizona,2014,both
24,Arizona 2015,311,6641928,Arizona,2015,both
25,Arizona 2016,386,6728577,Arizona,2016,both
26,Arizona 2017,416,6809946,Arizona,2017,both
27,Arkansas 2009,172,2838143,Arkansas,2009,both
28,Arkansas 2010,135,2872684,Arkansas,2010,both
29,Arkansas 2011,159,2895928,Arkansas,2011,both
30,Arkansas 2012,173,2916372,Arkansas,2012,both
31,Arkansas 2013,156,2933369,Arkansas,2013,both
32,Arkansas 2014,167,2947036,Arkansas,2014,both
33,Arkansas 2015,179,2958208,Arkansas,2015,both
34,Arkansas 2016,210,2968472,Arkansas,2016,both
35,Arkansas 2017,250,2977944,Arkansas,2017,both
36,California 2009,1982,36308527,California,2009,both
37,California 2010,1838,36637290,California,2010,both
38,California 2011,1811,36969200,California,2011,both
39,California 2012,1902,37325068,California,2012,both
40,California 2013,1763,37659181,California,2013,both
41,California 2014,1715,38066920,California,2014,both
42,California 2015,1874,38421464,California,2015,both
43,California 2016,1948,38654206,California,2016,both
44,California 2017,1846,38982847,California,2017,both
45,Colorado 2009,157,4843211,Colorado,2009,both
46,Colorado 2010,130,4887061,Colorado,2010,both
47,Colorado 2011,157,4966061,Colorado,2011,both
48,Colorado 2012,163,5042853,Colorado,2012,both
49,Colorado 2013,173,5119329,Colorado,2013,both
50,Colorado 2014,151,5197580,Colorado,2014,both
51,Colorado 2015,173,5278906,Colorado,2015,both
52,Colorado 2016,205,5359295,Colorado,2016,both
53,Colorado 2017,219,5436519,Colorado,2017,both
54,Connecticut 2009,108,3494487,Connecticut,2009,both
55,Connecticut 2010,134,3545837,Connecticut,2010,both
56,Connecticut 2011,133,3558172,Connecticut,2011,both
57,Connecticut 2012,145,3572213,Connecticut,2012,both
58,Connecticut 2013,92,3583561,Connecticut,2013,both
59,Connecticut 2014,92,3592053,Connecticut,2014,both
60,Connecticut 2015,118,3593222,Connecticut,2015,both
61,Connecticut 2016,79,3588570,Connecticut,2016,both
62,Connecticut 2017,104,3594478,Connecticut,2017,both
63,Delaware 2009,41,863832,Delaware,2009,both
64,Delaware 2010,51,881278,Delaware,2010,both
65,Delaware 2011,48,890856,Delaware,2011,both
66,Delaware 2012,56,900131,Delaware,2012,both
67,Delaware 2013,41,908446,Delaware,2013,both
68,Delaware 2014,50,917060,Delaware,2014,both
69,Delaware 2015,62,926454,Delaware,2015,both
70,Delaware 2016,56,934695,Delaware,2016,both
71,Delaware 2017,54,943732,Delaware,2017,both
72,District of Columbia 2009,145,588433,District of Columbia,2009,both
73,District of Columbia 2010,132,584400,District of Columbia,2010,both
74,District of Columbia 2011,108,593955,District of Columbia,2011,both
75,District of Columbia 2012,88,605759,District of Columbia,2012,both
76,District of Columbia 2013,103,619371,District of Columbia,2013,both
77,District of Columbia 2014,105,633736,District of Columbia,2014,both
78,District of Columbia 2015,162,647484,District of Columbia,2015,both
79,District of Columbia 2016,139,659009,District of Columbia,2016,both
80,District of Columbia 2017,116,672391,District of Columbia,2017,both
81,Florida 2009,1023,18222420,Florida,2009,both
82,Florida 2010,989,18511620,Florida,2010,both
83,Florida 2011,989,18688787,Florida,2011,both
84,Florida 2012,1013,18885152,Florida,2012,both
85,Florida 2013,979,19091156,Florida,2013,both
86,Florida 2014,985,19361792,Florida,2014,both
87,Florida 2015,1042,19645772,Florida,2015,both
88,Florida 2016,1111,19934451,Florida,2016,both
89,Florida 2017,1058,20278447,Florida,2017,both
90,Georgia 2009,561,9497667,Georgia,2009,both
91,Georgia 2010,556,9468815,Georgia,2010,both
92,Georgia 2011,553,9600612,Georgia,2011,both
93,Georgia 2012,588,9714569,Georgia,2012,both
94,Georgia 2013,563,9810417,Georgia,2013,both
95,Georgia 2014,594,9907756,Georgia,2014,both
96,Georgia 2015,621,10006693,Georgia,2015,both
97,Georgia 2016,683,10099320,Georgia,2016,both
98,Georgia 2017,698,10201635,Georgia,2017,both
99,Hawaii 2009,23,1280241,Hawaii,2009,both
100,Hawaii 2010,25,1333591,Hawaii,2010,both
101,Hawaii 2011,20,1346554,Hawaii,2011,both
102,Hawaii 2012,21,1362730,Hawaii,2012,both
103,Hawaii 2013,21,1376298,Hawaii,2013,both
104,Hawaii 2014,15,1392704,Hawaii,2014,both
105,Hawaii 2015,29,1406299,Hawaii,2015,both
106,Hawaii 2016,35,1413673,Hawaii,2016,both
107,Hawaii 2017,39,1421658,Hawaii,2017,both
108,Idaho 2009,24,1492573,Idaho,2009,both
109,Idaho 2010,22,1526797,Idaho,2010,both
110,Idaho 2011,34,1549987,Idaho,2011,both
111,Idaho 2012,31,1567803,Idaho,2012,both
112,Idaho 2013,29,1583364,Idaho,2013,both
113,Idaho 2014,32,1599464,Idaho,2014,both
114,Idaho 2015,33,1616547,Idaho,2015,both
115,Idaho 2016,49,1635483,Idaho,2016,both
116,Idaho 2017,33,1657375,Idaho,2017,both
117,Illinois 2009,690,12785043,Illinois,2009,both
118,Illinois 2010,700,12745359,Illinois,2010,both
119,Illinois 2011,780,12790182,Illinois,2011,both
120,Illinois 2012,768,12823860,Illinois,2012,both
121,Illinois 2013,719,12848554,Illinois,2013,both
122,Illinois 2014,679,12868747,Illinois,2014,both
123,Illinois 2015,747,12873761,Illinois,2015,both
124,Illinois 2016,1039,12851684,Illinois,2016,both
125,Illinois 2017,983,12854526,Illinois,2017,both
126,Indiana 2009,300,6342469,Indiana,2009,both
127,Indiana 2010,262,6417398,Indiana,2010,both
128,Indiana 2011,287,6454254,Indiana,2011,both
129,Indiana 2012,303,6485530,Indiana,2012,both
130,Indiana 2013,342,6514861,Indiana,2013,both
131,Indiana 2014,313,6542411,Indiana,2014,both
132,Indiana 2015,347,6568645,Indiana,2015,both
133,Indiana 2016,396,6589578,Indiana,2016,both
134,Indiana 2017,374,6614418,Indiana,2017,both
135,Iowa 2009,38,2978880,Iowa,2009,both
136,Iowa 2010,41,3016267,Iowa,2010,both
137,Iowa 2011,47,3032266,Iowa,2011,both
138,Iowa 2012,49,3047646,Iowa,2012,both
139,Iowa 2013,42,3062553,Iowa,2013,both
140,Iowa 2014,59,3078116,Iowa,2014,both
141,Iowa 2015,74,3093526,Iowa,2015,both
142,Iowa 2016,72,3106589,Iowa,2016,both
143,Iowa 2017,102,3118102,Iowa,2017,both
144,Kansas 2009,124,2777835,Kansas,2009,both
145,Kansas 2010,98,2809329,Kansas,2010,both
146,Kansas 2011,114,2830985,Kansas,2011,both
147,Kansas 2012,86,2851183,Kansas,2012,both
148,Kansas 2013,118,2868107,Kansas,2013,both
149,Kansas 2014,91,2882946,Kansas,2014,both
150,Kansas 2015,122,2892987,Kansas,2015,both
151,Kansas 2016,100,2898292,Kansas,2016,both
152,Kansas 2017,129,2903820,Kansas,2017,both
153,Kentucky 2009,177,4252000,Kentucky,2009,both
154,Kentucky 2010,182,4285828,Kentucky,2010,both
155,Kentucky 2011,150,4316040,Kentucky,2011,both
156,Kentucky 2012,199,4340167,Kentucky,2012,both
157,Kentucky 2013,176,4361333,Kentucky,2013,both
158,Kentucky 2014,166,4383272,Kentucky,2014,both
159,Kentucky 2015,221,4397353,Kentucky,2015,both
160,Kentucky 2016,261,4411989,Kentucky,2016,both
161,Kentucky 2017,266,4424376,Kentucky,2017,both
162,Louisiana 2009,519,4411546,Louisiana,2009,both
163,Louisiana 2010,497,4429940,Louisiana,2010,both
164,Louisiana 2011,503,4484596,Louisiana,2011,both
165,Louisiana 2012,486,4529605,Louisiana,2012,both
166,Louisiana 2013,491,4567968,Louisiana,2013,both
167,Louisiana 2014,471,4601049,Louisiana,2014,both
168,Louisiana 2015,487,4625253,Louisiana,2015,both
169,Louisiana 2016,551,4645670,Louisiana,2016,both
170,Louisiana 2017,579,4663461,Louisiana,2017,both
171,Maine 2009,27,1316380,Maine,2009,both
172,Maine 2010,25,1327665,Maine,2010,both
173,Maine 2011,26,1328543,Maine,2011,both
174,Maine 2012,28,1329084,Maine,2012,both
175,Maine 2013,24,1328320,Maine,2013,both
176,Maine 2014,21,1328535,Maine,2014,both
177,Maine 2015,24,1329100,Maine,2015,both
178,Maine 2016,21,1329923,Maine,2016,both
179,Maine 2017,24,1330158,Maine,2017,both
180,Maryland 2009,441,5637418,Maryland,2009,both
181,Maryland 2010,428,5696423,Maryland,2010,both
182,Maryland 2011,401,5736545,Maryland,2011,both
183,Maryland 2012,373,5785496,Maryland,2012,both
184,Maryland 2013,381,5834299,Maryland,2013,both
185,Maryland 2014,363,5887776,Maryland,2014,both
186,Maryland 2015,539,5930538,Maryland,2015,both
187,Maryland 2016,464,5959902,Maryland,2016,both
188,Maryland 2017,547,5996079,Maryland,2017,both
189,Massachusetts 2009,175,6511176,Massachusetts,2009,both
190,Massachusetts 2010,214,6477096,Massachusetts,2010,both
191,Massachusetts 2011,184,6512227,Massachusetts,2011,both
192,Massachusetts 2012,121,6560595,Massachusetts,2012,both
193,Massachusetts 2013,137,6605058,Massachusetts,2013,both
194,Massachusetts 2014,132,6657291,Massachusetts,2014,both
195,Massachusetts 2015,130,6705586,Massachusetts,2015,both
196,Massachusetts 2016,133,6742143,Massachusetts,2016,both
197,Massachusetts 2017,171,6789319,Massachusetts,2017,both
198,Michigan 2009,627,10039208,Michigan,2009,both
199,Michigan 2010,586,9952687,Michigan,2010,both
200,Michigan 2011,619,9920621,Michigan,2011,both
201,Michigan 2012,709,9897264,Michigan,2012,both
202,Michigan 2013,628,9886095,Michigan,2013,both
203,Michigan 2014,551,9889024,Michigan,2014,both
204,Michigan 2015,583,9900571,Michigan,2015,both
205,Michigan 2016,598,9909600,Michigan,2016,both
206,Michigan 2017,569,9925568,Michigan,2017,both
207,Minnesota 2009,74,5188581,Minnesota,2009,both
208,Minnesota 2010,96,5241914,Minnesota,2010,both
209,Minnesota 2011,75,5278190,Minnesota,2011,both
210,Minnesota 2012,99,5313081,Minnesota,2012,both
211,Minnesota 2013,114,5347740,Minnesota,2013,both
212,Minnesota 2014,88,5383661,Minnesota,2014,both
213,Minnesota 2015,133,5419171,Minnesota,2015,both
214,Minnesota 2016,101,5450868,Minnesota,2016,both
215,Minnesota 2017,115,5490726,Minnesota,2017,both
216,Mississippi 2009,156,2922240,Mississippi,2009,both
217,Mississippi 2010,171,2941991,Mississippi,2010,both
218,Mississippi 2011,191,2956700,Mississippi,2011,both
219,Mississippi 2012,177,2967620,Mississippi,2012,both
220,Mississippi 2013,145,2976872,Mississippi,2013,both
221,Mississippi 2014,174,2984345,Mississippi,2014,both
222,Mississippi 2015,161,2988081,Mississippi,2015,both
223,Mississippi 2016,156,2989192,Mississippi,2016,both
224,Mississippi 2017,158,2986220,Mississippi,2017,both
225,Missouri 2009,391,5904382,Missouri,2009,both
226,Missouri 2010,425,5922314,Missouri,2010,both
227,Missouri 2011,372,5955802,Missouri,2011,both
228,Missouri 2012,392,5982413,Missouri,2012,both
229,Missouri 2013,374,6007182,Missouri,2013,both
230,Missouri 2014,405,6028076,Missouri,2014,both
231,Missouri 2015,504,6045448,Missouri,2015,both
232,Missouri 2016,539,6059651,Missouri,2016,both
233,Missouri 2017,601,6075300,Missouri,2017,both
234,Montana 2009,32,956257,Montana,2009,both
235,Montana 2010,27,973739,Montana,2010,both
236,Montana 2011,31,982854,Montana,2011,both
237,Montana 2012,30,990785,Montana,2012,both
238,Montana 2013,24,998554,Montana,2013,both
239,Montana 2014,38,1006370,Montana,2014,both
240,Montana 2015,38,1014699,Montana,2015,both
241,Montana 2016,36,1023391,Montana,2016,both
242,Montana 2017,42,1029862,Montana,2017,both
243,Nebraska 2009,42,1772124,Nebraska,2009,both
244,Nebraska 2010,54,1799125,Nebraska,2010,both
245,Nebraska 2011,69,1813061,Nebraska,2011,both
246,Nebraska 2012,52,1827306,Nebraska,2012,both
247,Nebraska 2013,56,1841625,Nebraska,2013,both
248,Nebraska 2014,52,1855617,Nebraska,2014,both
249,Nebraska 2015,61,1869365,Nebraska,2015,both
250,Nebraska 2016,49,1881259,Nebraska,2016,both
251,Nebraska 2017,43,1893921,Nebraska,2017,both
252,Nevada 2009,158,2545763,Nevada,2009,both
253,Nevada 2010,159,2633331,Nevada,2010,both
254,Nevada 2011,134,2673396,Nevada,2011,both
255,Nevada 2012,128,2704204,Nevada,2012,both
256,Nevada 2013,163,2730066,Nevada,2013,both
257,Nevada 2014,170,2761584,Nevada,2014,both
258,Nevada 2015,178,2798636,Nevada,2015,both
259,Nevada 2016,226,2839172,Nevada,2016,both
260,Nevada 2017,274,2887725,Nevada,2017,both
261,New Hampshire 2009,11,1315419,New Hampshire,2009,both
262,New Hampshire 2010,13,1313939,New Hampshire,2010,both
263,New Hampshire 2011,16,1315911,New Hampshire,2011,both
264,New Hampshire 2012,15,1317474,New Hampshire,2012,both
265,New Hampshire 2013,21,1319171,New Hampshire,2013,both
266,New Hampshire 2014,16,1321069,New Hampshire,2014,both
267,New Hampshire 2015,16,1324201,New Hampshire,2015,both
268,New Hampshire 2016,16,1327503,New Hampshire,2016,both
269,New Hampshire 2017,15,1331848,New Hampshire,2017,both
270,New Jersey 2009,321,8650548,New Jersey,2009,both
271,New Jersey 2010,373,8721577,New Jersey,2010,both
272,New Jersey 2011,386,8753064,New Jersey,2011,both
273,New Jersey 2012,393,8793888,New Jersey,2012,both
274,New Jersey 2013,403,8832406,New Jersey,2013,both
275,New Jersey 2014,355,8874374,New Jersey,2014,both
276,New Jersey 2015,353,8904413,New Jersey,2015,both
277,New Jersey 2016,376,8915456,New Jersey,2016,both
278,New Jersey 2017,326,8960161,New Jersey,2017,both
279,New Mexico 2009,188,1964860,New Mexico,2009,both
280,New Mexico 2010,141,2013122,New Mexico,2010,both
281,New Mexico 2011,156,2037136,New Mexico,2011,both
282,New Mexico 2012,117,2055287,New Mexico,2012,both
283,New Mexico 2013,118,2069706,New Mexico,2013,both
284,New Mexico 2014,99,2080085,New Mexico,2014,both
285,New Mexico 2015,113,2084117,New Mexico,2015,both
286,New Mexico 2016,137,2082669,New Mexico,2016,both
287,New Mexico 2017,146,2084828,New Mexico,2017,both
288,New York 2009,782,19423896,New York,2009,both
289,New York 2010,867,19229752,New York,2010,both
290,New York 2011,771,19302448,New York,2011,both
291,New York 2012,682,19398125,New York,2012,both
292,New York 2013,648,19487053,New York,2013,both
293,New York 2014,617,19594330,New York,2014,both
294,New York 2015,614,19673174,New York,2015,both
295,New York 2016,631,19697457,New York,2016,both
296,New York 2017,546,19798228,New York,2017,both
297,North Carolina 2009,489,9045705,North Carolina,2009,both
298,North Carolina 2010,462,9271178,North Carolina,2010,both
299,North Carolina 2011,500,9418736,North Carolina,2011,both
300,North Carolina 2012,482,9544249,North Carolina,2012,both
301,North Carolina 2013,468,9651380,North Carolina,2013,both
302,North Carolina 2014,498,9750405,North Carolina,2014,both
303,North Carolina 2015,517,9845333,North Carolina,2015,both
304,North Carolina 2016,595,9940828,North Carolina,2016,both
305,North Carolina 2017,574,10052564,North Carolina,2017,both
306,North Dakota 2009,12,639725,North Dakota,2009,both
307,North Dakota 2010,10,659858,North Dakota,2010,both
308,North Dakota 2011,25,666783,North Dakota,2011,both
309,North Dakota 2012,28,676253,North Dakota,2012,both
310,North Dakota 2013,21,689781,North Dakota,2013,both
311,North Dakota 2014,23,704925,North Dakota,2014,both
312,North Dakota 2015,21,721640,North Dakota,2015,both
313,North Dakota 2016,15,736162,North Dakota,2016,both
314,North Dakota 2017,10,745475,North Dakota,2017,both
315,Ohio 2009,516,11511858,Ohio,2009,both
316,Ohio 2010,478,11512431,Ohio,2010,both
317,Ohio 2011,499,11525536,Ohio,2011,both
318,Ohio 2012,479,11533561,Ohio,2012,both
319,Ohio 2013,473,11549590,Ohio,2013,both
320,Ohio 2014,455,11560380,Ohio,2014,both
321,Ohio 2015,508,11575977,Ohio,2015,both
322,Ohio 2016,638,11586941,Ohio,2016,both
323,Ohio 2017,690,11609756,Ohio,2017,both
324,Oklahoma 2009,236,3610073,Oklahoma,2009,both
325,Oklahoma 2010,196,3675339,Oklahoma,2010,both
326,Oklahoma 2011,214,3714520,Oklahoma,2011,both
327,Oklahoma 2012,220,3749005,Oklahoma,2012,both
328,Oklahoma 2013,198,3785742,Oklahoma,2013,both
329,Oklahoma 2014,180,3818851,Oklahoma,2014,both
330,Oklahoma 2015,239,3849733,Oklahoma,2015,both
331,Oklahoma 2016,243,3875589,Oklahoma,2016,both
332,Oklahoma 2017,245,3896251,Oklahoma,2017,both
333,Oregon 2009,90,3727407,Oregon,2009,both
334,Oregon 2010,99,3761925,Oregon,2010,both
335,Oregon 2011,85,3801991,Oregon,2011,both
336,Oregon 2012,93,3836628,Oregon,2012,both
337,Oregon 2013,80,3868721,Oregon,2013,both
338,Oregon 2014,78,3900343,Oregon,2014,both
339,Oregon 2015,83,3939233,Oregon,2015,both
340,Oregon 2016,105,3982267,Oregon,2016,both
341,Oregon 2017,103,4025127,Oregon,2017,both
342,Pennsylvania 2009,670,12516596,Pennsylvania,2009,both
343,Pennsylvania 2010,660,12612705,Pennsylvania,2010,both
344,Pennsylvania 2011,646,12660739,Pennsylvania,2011,both
345,Pennsylvania 2012,717,12699589,Pennsylvania,2012,both
346,Pennsylvania 2013,620,12731381,Pennsylvania,2013,both
347,Pennsylvania 2014,629,12758729,Pennsylvania,2014,both
348,Pennsylvania 2015,674,12779559,Pennsylvania,2015,both
349,Pennsylvania 2016,668,12783977,Pennsylvania,2016,both
350,Pennsylvania 2017,753,12790505,Pennsylvania,2017,both
351,Rhode Island 2009,33,1057381,Rhode Island,2009,both
352,Rhode Island 2010,29,1056389,Rhode Island,2010,both
353,Rhode Island 2011,20,1053959,Rhode Island,2011,both
354,Rhode Island 2012,36,1052471,Rhode Island,2012,both
355,Rhode Island 2013,31,1051695,Rhode Island,2013,both
356,Rhode Island 2014,26,1053252,Rhode Island,2014,both
357,Rhode Island 2015,32,1053661,Rhode Island,2015,both
358,Rhode Island 2016,29,1054491,Rhode Island,2016,both
359,Rhode Island 2017,21,1056138,Rhode Island,2017,both
360,South Carolina 2009,305,4416867,South Carolina,2009,both
361,South Carolina 2010,268,4511428,South Carolina,2010,both
362,South Carolina 2011,322,4575864,South Carolina,2011,both
363,South Carolina 2012,334,4630351,South Carolina,2012,both
364,South Carolina 2013,304,4679602,South Carolina,2013,both
365,South Carolina 2014,321,4727273,South Carolina,2014,both
366,South Carolina 2015,402,4777576,South Carolina,2015,both
367,South Carolina 2016,363,4834605,South Carolina,2016,both
368,South Carolina 2017,390,4893444,South Carolina,2017,both
369,South Dakota 2009,26,796513,South Dakota,2009,both
370,South Dakota 2010,24,799462,South Dakota,2010,both
371,South Dakota 2011,19,807697,South Dakota,2011,both
372,South Dakota 2012,23,815871,South Dakota,2012,both
373,South Dakota 2013,18,825198,South Dakota,2013,both
374,South Dakota 2014,21,834708,South Dakota,2014,both
375,South Dakota 2015,30,843190,South Dakota,2015,both
376,South Dakota 2016,27,851058,South Dakota,2016,both
377,South Dakota 2017,23,855444,South Dakota,2017,both
378,Tennessee 2009,472,6158953,Tennessee,2009,both
379,Tennessee 2010,362,6234968,Tennessee,2010,both
380,Tennessee 2011,383,6297991,Tennessee,2011,both
381,Tennessee 2012,403,6353226,Tennessee,2012,both
382,Tennessee 2013,343,6402387,Tennessee,2013,both
383,Tennessee 2014,370,6451365,Tennessee,2014,both
384,Tennessee 2015,423,6499615,Tennessee,2015,both
385,Tennessee 2016,488,6548009,Tennessee,2016,both
386,Tennessee 2017,529,6597381,Tennessee,2017,both
387,Texas 2009,1338,23819042,Texas,2009,both
388,Texas 2010,1259,24311891,Texas,2010,both
389,Texas 2011,1138,24774187,Texas,2011,both
390,Texas 2012,1157,25208897,Texas,2012,both
391,Texas 2013,1150,25639373,Texas,2013,both
392,Texas 2014,1206,26092033,Texas,2014,both
393,Texas 2015,1331,26538614,Texas,2015,both
394,Texas 2016,1487,26956435,Texas,2016,both
395,Texas 2017,1421,27419612,Texas,2017,both
396,Utah 2009,43,2651816,Utah,2009,both
397,Utah 2010,53,2657236,Utah,2010,both
398,Utah 2011,51,2715379,Utah,2011,both
399,Utah 2012,54,2766233,Utah,2012,both

In [38]:
# merge count
df_murderpop['_merge'].value_counts(dropna = False)

both          459
right_only      0
left_only       0
Name: _merge, dtype: int64

In [39]:
# data types
df_murderpop.dtypes

state_year      object
murders          int64
population       int64
state_name      object
year             int64
_merge        category
dtype: object

In [40]:
# drop the merge column
df_murderpop.drop('_merge', axis = 1, inplace = True)

In [41]:
# output
df_murderpop.head()

     state_year  murders  population state_name  year
0  Alabama 2009      320     4633360    Alabama  2009
1  Alabama 2010      221     4712651    Alabama  2010
2  Alabama 2011      296     4747424    Alabama  2011
3  Alabama 2012      336     4777326    Alabama  2012
4  Alabama 2013      295     4799277    Alabama  2013

# 04 Explorations

In [42]:
# create a new column, percent homicides
df_murderpop['percent_murder'] = df_murderpop['murders'] / df_murderpop['population'] * 100

In [43]:
# output
df_murderpop.head(10)

     state_year  murders  population state_name  year  percent_murder
0  Alabama 2009      320     4633360    Alabama  2009        0.006906
1  Alabama 2010      221     4712651    Alabama  2010        0.004690
2  Alabama 2011      296     4747424    Alabama  2011        0.006235
3  Alabama 2012      336     4777326    Alabama  2012        0.007033
4  Alabama 2013      295     4799277    Alabama  2013        0.006147
5  Alabama 2014      269     4817678    Alabama  2014        0.005584
6  Alabama 2015      343     4830620    Alabama  2015        0.007101
7  Alabama 2016      396     4841164    Alabama  2016        0.008180
8  Alabama 2017      397     4850771    Alabama  2017        0.008184
9   Alaska 2009       23      683142     Alaska  2009        0.003367

In [44]:
# Add age groups to the SHR single data frame
# create 4 categories: Minor, Young adult, Middle age, and Senior
df_shr.loc[df_shr['victim_age'] < 18, 'victim_age_category'] = 'Minor'

In [45]:
df_shr.loc[(df_shr['victim_age'] >= 18) & (df_shr['victim_age'] <= 35), 'victim_age_category'] = 'Young Adult'

In [46]:
df_shr.loc[(df_shr['victim_age'] > 35) & (df_shr['victim_age'] <= 55), 'victim_age_category'] = 'Middle Age'

In [47]:
df_shr.loc[df_shr['victim_age'] > 55, 'victim_age_category'] = 'Senior'

In [48]:
# check the output
df_shr['victim_age_category'].value_counts(dropna = 0)

Young Adult    233217
Middle Age     119210
Minor           44718
Senior          44583
Name: victim_age_category, dtype: int64

In [49]:
df_shr.head()

,ID,county,ORI,state_name,agency,agent_type,source,solved,year,month,...,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,file_date,MSA,state_party,victim_age_category
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,March,...,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red,Middle Age
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,April,...,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red,Young Adult
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,30180.0,"Anchorage, AK",Red,Middle Age
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,...,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red,Middle Age
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,July,...,Knife or cutting instrument,Brother,Other arguments,nan,0,0,30180.0,"Anchorage, AK",Red,Young Adult

In [50]:
# delete the file date column
df_shr.drop('file_date', axis = 1, inplace = True)

In [51]:
# display all columns
pd.set_option('display.max_columns', None)

In [52]:
# check the output
df_shr.head()

,ID,county,ORI,state_name,agency,agent_type,source,solved,year,month,incident,action_type,homicide,situation,victim_age,victim_sex,victim_race,victim_ethnicity,offender_age,offender_sex,offender_race,offender_ethnicity,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,MSA,state_party,victim_age_category
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,March,1,Normal update,Murder and non-negligent manslaughter,Single victim/single offender,48.0,Male,Unknown,Unknown or not reported,68.0,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,"Anchorage, AK",Red,Middle Age
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,April,1,Normal update,Murder and non-negligent manslaughter,Single victim/single offender,33.0,Female,White,Unknown or not reported,44.0,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,"Anchorage, AK",Red,Young Adult
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,1,Normal update,Murder and non-negligent manslaughter,Single victim/single offender,38.0,Male,White,Unknown or not reported,27.0,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,"Anchorage, AK",Red,Middle Age
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,June,2,Normal update,Murder and non-negligent manslaughter,Single victim/single offender,41.0,Male,White,Unknown or not reported,34.0,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,"Anchorage, AK",Red,Middle Age
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Municipal police,FBI,Yes,1976,July,1,Normal update,Murder and non-negligent manslaughter,Single victim/single offender,33.0,Male,American Indian or Alaskan Native,Unknown or not reported,37.0,Female,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,nan,0,0,"Anchorage, AK",Red,Young Adult

In [53]:
# delete the agent type, action_type, and source columns
df_shr.drop('agent_type', axis = 1, inplace = True)

In [54]:
df_shr.drop('source', axis = 1, inplace = True)

In [55]:
df_shr.drop('action_type', axis = 1, inplace = True)

In [56]:
# check output
df_shr.head()

,ID,county,ORI,state_name,agency,solved,year,month,incident,homicide,situation,victim_age,victim_sex,victim_race,victim_ethnicity,offender_age,offender_sex,offender_race,offender_ethnicity,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,MSA,state_party,victim_age_category
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,March,1,Murder and non-negligent manslaughter,Single victim/single offender,48.0,Male,Unknown,Unknown or not reported,68.0,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,"Anchorage, AK",Red,Middle Age
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,April,1,Murder and non-negligent manslaughter,Single victim/single offender,33.0,Female,White,Unknown or not reported,44.0,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,"Anchorage, AK",Red,Young Adult
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,June,1,Murder and non-negligent manslaughter,Single victim/single offender,38.0,Male,White,Unknown or not reported,27.0,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,"Anchorage, AK",Red,Middle Age
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,June,2,Murder and non-negligent manslaughter,Single victim/single offender,41.0,Male,White,Unknown or not reported,34.0,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,"Anchorage, AK",Red,Middle Age
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,July,1,Murder and non-negligent manslaughter,Single victim/single offender,33.0,Male,American Indian or Alaskan Native,Unknown or not reported,37.0,Female,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,nan,0,0,"Anchorage, AK",Red,Young Adult

In [57]:
# convert ages to integers
df_shr['offender_age'] = df_shr['offender_age'].astype(int)

In [58]:
df_shr['victim_age'] = df_shr['victim_age'].astype(int)

In [59]:
# check the output
df_shr.head()

,ID,county,ORI,state_name,agency,solved,year,month,incident,homicide,situation,victim_age,victim_sex,victim_race,victim_ethnicity,offender_age,offender_sex,offender_race,offender_ethnicity,weapon,relationship,circumstance,subcircumstance,additional_victims,additional_offenders,MSA,state_party,victim_age_category
0,197603001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,March,1,Murder and non-negligent manslaughter,Single victim/single offender,48,Male,Unknown,Unknown or not reported,68,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Relationship not determined,Other arguments,nan,0,0,"Anchorage, AK",Red,Middle Age
1,197604001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,April,1,Murder and non-negligent manslaughter,Single victim/single offender,33,Female,White,Unknown or not reported,44,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Girlfriend,Other arguments,nan,0,0,"Anchorage, AK",Red,Young Adult
2,197606001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,June,1,Murder and non-negligent manslaughter,Single victim/single offender,38,Male,White,Unknown or not reported,27,Male,Black,Unknown or not reported,"Handgun - pistol, revolver, etc",Stranger,Other,nan,0,0,"Anchorage, AK",Red,Middle Age
3,197606002AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,June,2,Murder and non-negligent manslaughter,Single victim/single offender,41,Male,White,Unknown or not reported,34,Male,White,Unknown or not reported,"Handgun - pistol, revolver, etc",Other - known to victim,Other arguments,nan,0,0,"Anchorage, AK",Red,Middle Age
4,197607001AK00101,"Anchorage, AK",AK00101,Alaska,Anchorage,Yes,1976,July,1,Murder and non-negligent manslaughter,Single victim/single offender,33,Male,American Indian or Alaskan Native,Unknown or not reported,37,Female,American Indian or Alaskan Native,Unknown or not reported,Knife or cutting instrument,Brother,Other arguments,nan,0,0,"Anchorage, AK",Red,Young Adult

# 05 Exports

In [60]:
df_murderpop.to_csv(os.path.join(path, '02 Data','Prepared Data', 'murderpop.csv'))

In [61]:
df_shr.to_csv(os.path.join(path, '02 Data','Prepared Data', 'shr_single_2.csv'))